<form id="new_comment_thread" method="post" data-remote="true" action="/comments/new" accept-charset="UTF-8">
	<input id="new_comment_container_id" type="hidden" value="" name="comment[container_id]">
	<label for="comment_content">Start new comment thread</label>
	<textarea id="reply_textarea" class="form-control ckeditor" name="comment[content]" required="required">
	</textarea>
	<input class="submit_reply btn btn-primary" type="submit" value="Post new comment" name="commit">
</form>