<h3>Edit Container</h3>
<a href="#" id="secondary_edit_container">select</a>
<h3>Edit Metadata</h3>
<a href="#" id="secondary_new_metadata">new</a>
<a href="#" id="secondary_edit_metadata">select</a>
<h3>Edit Annotation</h3>
<a href="#" id="secondary_new_annotation">new</a>
<a href="#" id="secondary_edit_annotation">select</a>