<div class="btn-toolbar" role="toolbar">
	<div class="btn-group">
		<p>Containers</p>
		<button type="buton" id="secondary_select_container" class="btn btn-default">select</button>
		<button type="buton" id="secondary_edit_container" class="btn btn-default">edit current</button>
	</div>
	<div class="btn-group">
		<p>Metadata</p>
		<button type="buton" id="secondary_new_metadata" class="btn btn-default">new</button>
		<button type="buton" id="secondary_edit_metadata" class="btn btn-default">select</button>
	</div>
	<div class="btn-group">
		<p>Annotations</p>
		<button type="buton" class="btn btn-default" id="secondary_new_annotation">new</button>
		<button type="buton" class="btn btn-default" id="secondary_edit_annotation">select</button>
	</div>
</div>

<div id="secondary_admin_form">
</div>