<table class="table table-striped table-bordered table-hover table-responsive">
	<thead>Select annotation to edit</thead>
	<tr>
		<th>Anchor</th>
		<th>Position</th>
		<th>Metadatum_id</th>
		<th>Category</th>
	<tr>
	<tbody>
	</tbody>
</table>