<form accept-charset="UTF-8">
	<div data-fields="number,content,level,special_paragraph,position,ancestry"></div>
	<input class="submit btn btn-primary" type="submit" value="Update" name="commit">
</form>