<form accept-charset="UTF-8">
	<div data-fields="anchor,scope_id,content_id,scope_type,universal_scope,category"></div>
	<input class="submit btn btn-primary" type="submit" value="Submit" name="commit">
</form>