<table class="table table-striped table-bordered table-hover table-responsive">
	<thead>Select metadatum to edit</thead>
	<tr>
		<th>Anchors</th>
		<th>Scope_id</th>
		<th>Scope_type</th>
		<th>Universal_scope</th>
	<tr>
	<tbody>
	</tbody>
</table>