<h2 class="secondary_title">Placeholder - see secondary_view.js.erb</h2>

<div id="secondary_nav">
	<ul class="nav nav-tabs" role="tablist">
		<li><a href="#">Comments</a></li>
		<li><a href="#">History</a></li>
		<li><a href="#">Exceptions</a></li>
		<li><a href="#">Close</a></li>
	</ul>
</div>

<div id="secondary_body">
	
</div>

