<h2 class="secondary_title">Placeholder - see secondary_view.js.erb</h2>

<div id="secondary_nav">
	<ul class="nav nav-tabs" role="tablist">
		<li><a id="secondary_nav_comments" class="secondary_nav" href="#">Comments</a></li>
		<li><a id="secondary_nav_history" class="secondary_nav" href="#">History</a></li>
		<li><a id="secondary_nav_exceptions" class="secondary_nav" href="#">Exceptions</a></li>
		<li><a id="secondary_nav_admin" class="secondary_nav" href="#">Admin</a></li>
		<li><a id="secondary_nav_close" class="secondary_nav" href="#">Close</a></li>
	</ul>
</div>

<div id="secondary_body">
	
</div>

