<div id="secondary_comments">

</div>

<div id="secondary_new_thread_form">
	<a class="new_thread" href="#">Start a new comment thread!</a> // TODO MEDIUM - check whether user logged in when they do this
</div>