<h2>Contents</h2>

<form>
	<label for="quicknav">Jump to section: </label>
	<input id="quicknav" type="text" size="25">
	<input type="submit" value="Go!">
</form>

<ul id="contents" class="nav nav-stacked">

</ul>