<% provide(:title, "Edit Metadatum") %>
<h1>Updating metadatum: <%= @metadatum.anchor %></h1>

<div class="row">
	<%= form_for(@metadatum) do |f| %>
		<%= render 'form', f: f, errors: @metadatum.errors %>
		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	<% end %>
</div>