<% provide(:title, "Edit Container") %>
<h1>Updating container: <%= @container.citation+", "+@container.act.title %></h1>

<div class="row">
  <div class="span6 offset1">
    <%= form_for(@container) do |f| %>
			<%= render 'form', f: f, errors: @container.errors %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>