<% provide(:title, 'All containers') %>
<h1>Index of containers - temporary page</h1>
<%= will_paginate %>
<ul class = "containers">
	<% @containers.each do |c| %>
		<li>
			<%= link_to c.citation, c %>
			<%= c.short_content %>
		</li>
	<% end %>
</ul>
<%= will_paginate %>
