<% provide(:title, @container.citation+", "+@act.title) %>



<div class = "legislation" >
	<h1><%= @container.citation+", "+@act.title %></h1>
	<%= render @container, :all_containers => @act.containers %>
</div>