Lgd.module('MainView', function(Mainview, Lgd, Backbone, Marionette, $, _){
	
	Mainview.Container = Marionette.CompositeView.extend ({
		tagName: 'div',
		template: JST['marionette/templates/main/container'],
		
		initialize: function(){
			this.collection = this.model.children;
			Lgd.request("ContainerViews").add(this, this.model.get('id'));
		},
		
		id: function(){
			return this.model.get('calcID');
		},
		
		className: function(){
			return "depth_"+this.model.get('level');
		},

		events: {
			"mouseenter": "mouseEnter",
			"mouseleave": "mouseLeave",
			"click div.expand_modes": "moreClicked"
		},		
		
		mouseEnter: function(event){
			event.stopImmediatePropagation();
			// make controller handle it
			Lgd.trigger("container:mouseEnter", this.$el);
		},
		
		mouseLeave: function(event){
			event.stopImmediatePropagation();
			// make controller handle it
			Lgd.trigger("container:mouseLeave", this.$el);
		},
		
		moreClicked: function(event){
			event.stopImmediatePropagation();
			var alias = this.model.aliases()[0];
			alias = alias.substring(0, 1).toLowerCase() + alias.substring(1);
			Lgd.trigger("container:moreClicked", this.$el, this.model.get('id'), alias);
		},
		
		onShow: function(){
			console.log("Doing onShow for "+this.id());
			var anchors = this.$el.children('p').children('span.definition_anchor');
			if(anchors.length == 0)
				anchors = $('span.definition_anchor', this.$el.children('table'));
			if(anchors.length > 0){
				var that=this;
				console.log(anchors);
				anchors.each(function(index, element){
					$(element).popover({ 
						html:      true,
						placement: "bottom",
						content:   function(){
							var metadata_link = $(element).data("metadata_link");
							var cont = Lgd.request("ContainerViews").findByCustom(metadata_link);
							if (cont != undefined)
								return cont.model.get("annotated_content");
							var div_id =  "tmp-id-" + $.now();
							return popup_text(div_id, metadata_link);
						}
					});
				});
				var popup_text = function(div_id, metadata_link){
					$.ajax({
						url: '/show_json/'+metadata_link+'.json',
						success: function(response){
							console.log("successful response: "+response);
							$('#'+div_id).html(response.annotated_content);
						}
					});
					return '<div id="'+ div_id +'">Loading...</div>';
				}
			}
			
		},
		
	});
	
	Mainview.Act = Marionette.CollectionView.extend({

		template: JST['marionette/templates/main/act'],
		childView: Mainview.Container,
		childViewContainer: 'div'
		

	})
	
});


