// Place all the styles related to the Act controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.legislation {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	position:relative;
	.reference {
		font-style:italic;
	}
	.defined_term{
		font-weight: bold;
		font-style: italic;
	}
	.coat_of_arms {
		width:20%;
	}
	.Subheading {
		font-style:italic;
	}
	h1 {
		font-size: 2em;
		font-weight: bold;
		text-align: left;
	}
	h2 {
		font-size: 1.6em;
		font-weight: bold;
		text-align: left;
		margin-bottom:4%;
	}
	.act_no {
		font-size: 1.2em;
		font-weight: bold;
		padding-bottom: 1%;
	}
	p {
		font-size: 1.1em;
		margin-left: 12%;
		line-height: 120%;
		margin-bottom:2%;
		margin-top:2%;
	}
	p.act_no {
		margin-left: 0%;
	}
	p.Note, p.Example {
		font-size: 0.9em;
	}
	.Explanatory_box {
		border: 1px solid black;
		margin-left:10%;
		padding-right: 2%;
		p {
			margin-left:2%;
		}
	}
	table{
		width: 100%;
		margin-left: 0%;
		border-spacing: 0px;
		margin-bottom: 0.5%;
		td.table_numeral {
			width: 12%;
			vertical-align: top;
			text-align: right;
			p {
			 margin-right: 5%;
			}
		}
		p {
			margin-left: 0%;
			margin-bottom: 0%;
			margin-top: 0%;
		}
	}
	.depth6{
		margin-bottom: 1.5%;
	}
	.depth6>p{
		margin-left: 16%;
	}
	.depth6>p.Subheading{
		margin-left:12%;
	}
	.depth7 {
		margin-left: 4%;
	}
	.depth8 {
		margin-left: 4%;
	}
	.depth9 {
		margin-left: 4%;
	}
}

#sidebar h2 {
	margin-top:0px;
}

#sidebar .nav{
	overflow-y: auto;
	height: 80%;
}

#sidebar .nav_heading {
	color: grey;
	font-size: 0.9em;
}

#sidebar .nav_section {
	color: grey;
	font-size: 0.8em;
}

#sidebar .nav_section{
	display:none
}

#sidebar .active>ul>.nav_section {
	display: block;           
}

.active>.nav_heading {
	font-weight:bold;
}

.nav_section.active {
	color: #563d7c; 
	border-left: 2px solid black; 
	padding-left: 1%;
}

.fixed {
	position:fixed;
}

@media screen and (max-width: 600px){
	#sidebar {
			display:none
	}
}