// Place all the styles related to the Act controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#legislation_main {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	position:relative;
	.reference {
		font-style:italic;
	}
	.defined_term{
		font-weight: bold;
		font-style: italic;
	}
	.coat_of_arms {
		width:20%;
	}
	.Subheading {
		font-style:italic;
	}
	h1 {
		font-size: 2em;
		font-weight: bold;
		text-align: left;
	}
	h2 {
		font-size: 1.6em;
		font-weight: bold;
		text-align: left;
		margin-bottom:4%;
	}
	.act_no {
		font-size: 1.2em;
		font-weight: bold;
		padding-bottom: 1%;
	}
	p {
		font-size: 1.1em;
		margin-left: 12%;
		line-height: 120%;
		margin-bottom:2%;
		margin-top:2%;
	}
	p.act_no {
		margin-left: 0%;
	}
	p.Note, p.Example {
		font-size: 0.9em;
	}
	.Explanatory_box {
		border: 1px solid black;
		margin-left:10%;
		padding-right: 2%;
		p {
			margin-left:2%;
		}
	}
	table{
		width: 100%;
		margin-left: 0%;
		border-spacing: 0px;
		margin-bottom: 0.5%;
		td.table_numeral {
			width: 12%;
			vertical-align: top;
			text-align: right;
			p {
			 margin-right: 5%;
			}
		}
		p {
			margin-left: 0%;
			margin-bottom: 0%;
			margin-top: 0%;
		}
	}
	.depth_6{
		margin-bottom: 1.5%;
	}
	.depth_6>p{
		margin-left: 16%;
	}
	.depth_6>p.Subheading{
		margin-left:12%;
	}
	.depth_7 {
		margin-left: 4%;
	}
	.depth_8 {
		margin-left: 4%;
	}
	.depth_9 {
		margin-left: 4%;
	}
	div {
		border: 1px solid white; // temporary
	}
	.highlighted {
		border: 1px solid red;  // temporary
	}
	
	.expand_modes{
		background-image: image-url("misc/expand.png");
		background-repeat: no-repeat;
		position:relative;
		left: 97%;
		margin-top:-1%;
		width:17px;
		height:17px;
	}
	
}

#sidebar{
	form {
		width:inherit;
		label {
			width: 20%;
		}
		input {
			width: 10%;
		}
		#quicknav {
			width: 40%;
		}
		&:after{
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
	#sidebar_div {
		margin-top:5%;
		direction: rtl;
		overflow-y: auto;
		height: 75%;
		width:inherit;
		.ltr {
			direction: ltr;
			&:after{
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
		}
		h2, h3 {
			margin-top:0px;
			text-align:left;
		}
		#contents{
			width: 80%;
			.nav_heading {
				color: grey;
				font-size: 0.9em;
			}
			.nav_section {
				color: grey;
				font-size: 0.8em;
				display:none;
				margin-left: 10%;
			}
			.active>.nav_section {
				display: block;           
			}
			.active>a {
				font-weight:bold;
			}
			.nav_section.active {
				color: #563d7c; 
				font-weight: bold;
			}
		}
		&:after{
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.fixed{
	position:fixed;
	
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}


#secondary {
	.secondary_container{
		width:inherit;
		height:80%;
		overflow-y: auto;
		
		h2 {
			text-align:left;
		}
		
		#secondary_nav {
			.nav {
				width:inherit;
			}
			width:80%;
			&:after{
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
			
		
		}
		#secondary_body {
			margin-top:5%;
			width:80%;
			&:after{
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
			#secondary_comments {
				width:80%;
				
				&:after{
					content: ".";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
			}
			#secondary_comments_form {
				width:80%;
				&:after{
					content: ".";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
			}
			
		}

	}
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.well {
	padding:5px;
	margin-bottom: 0;
}

blockquote {
	padding: 5px 10px;
	margin-bottom:5px;
}