<li>
	<%= link_to act.title, act %>
	<% if !act.published %>
		 (unpublished)
	<% end %>
	| <%= act.comlawID %>
  <% if policy(act).edit? %>
		| <%=  link_to "edit", edit_act_path(act) %>
	<% end %>
</li>