<%  # encoding: UTF-8 %>

<% provide(:title, @act.title) %>

<div class="row">
	<div class="col-md-2" id="modes">
	</div>
	<div class="col-md-8" role="main">

		<%= link_to "Parse Act", parse_act_path, class: "btn btn-large btn-primary" %>
		<%= link_to "Reset Parse", reset_parsing_act_path, class: "btn btn-large btn-primary" %>

		<div class = "legislation" id = "act_main" data-legislation_id=<%= @act.id %>>
		</div>
	
	</div>
	<nav class="col-md-2 hidden-print" id="sidebar">
	</nav>
</div>