<%  # encoding: UTF-8 %>

<% provide(:title, @act.title) %>

<div class="row">
	<div id="sidebar" class="hidden-xs col-sm-3 col-md-3 hidden-print">
	</div>
	<div id="legislation_main" class="col-xs-12 col-sm-9 col-md-6" role="main" data-legislation_id=<%= @act.id %>>

	</div>
	<div id="secondary" class="hidden-sm col-md-3 hidden-print">
	</div>
</div>